.footer {
  background: var(--clr-dark);
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.email {
  display: block;
  width: auto;
  text-decoration: none;
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
}

.email:hover {
  opacity: .75;
  text-decoration: underline;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  /* Reset default padding */
  padding: 0;
}

.item + .item {
  margin-left: 1em;
}

.item:hover {
  opacity: 0.75;
}

.link {
  color: inherit;
  padding: 0.5em;
}