.myServices {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  background-image: url('../images/services-bg.jpg');
  background-size: cover;
  background-blend-mode: darken;
  text-align: center;
}

.title {
  color: var(--clr-accent);
  position: relative;
}

.title::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}
