.myWork {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.subtitle {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
}

.item {
  background: var(--clr-accent);
  overflow: hidden;
}

.img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.img:hover {
  transform: scale(1.2);
  opacity: 0.75;
}
