.header {
  display: flex;
  justify-content: space-between;
  padding: 1em 3em;
}

.logo {
  max-width: 140px;
  font-size: var(--fs-h3);
}

.logo a {
  text-decoration: none;
  color: var(--fs-dark);
}

.toggle {
  display: none;
}

.nav {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navLink {
  color: inherit;
  text-decoration: none;
  font-weight: var(--fw-med);
}

.navLink:hover {
  color: var(--clr-accent);
}

@media (max-width: 700px) {
  .toggle {
    display: block;
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
  }

  .toggleOpen {
    position: fixed;
  }

  .hamburger {
    display: block;
    position: relative;
  }

  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    transition: transform 250ms ease-in-out;
  }

  .hamburger::before {
    top: 6px;
  }

  .hamburger::after {
    bottom: 6px;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background: var(--clr-dark);
    width: 2em;
    height: 3px;
    border-radius: 1em;
  }

  .toggleOpen .hamburger {
    transform: rotate(0.625turn);
  }

  .toggleOpen .hamburger::after {
    opacity: 0;
  }

  .toggleOpen .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
  }

  .toggleOpen .hamburger,
  .toggleOpen .hamburger::before,
  .toggleOpen .hamburger::after {
    background: var(--clr-accent);
  }

  .nav {
    width: 100%;
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  .navOpen {
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
    transform: translateX(0%);
  }

  .navClose {
    transform: translateX(100%);
  }

  .navList {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .navLink {
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
  }
}
